@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg-100: #fdf7ff;
  --color-primary: #f9f9f9;
  --color-primary-100: #f8b9ca;
  --color-primary-200: #7f2aff;
  --color-secondary-100: #00a171;
  --color-secondary-200: #ff2b2b;
  --color-text-100: #323232;
  --color-text-200: #454a52;
  --shadow-primary: ;
}

@layer utilities {
  .hidden-box {
    display: none !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .bg-image-theme {
    background-image: url(../assets/wave.png);
    background-size: cover;
    background-position: 100% center;
  }

  /* Para todos os 3 componentes */
  .div-app-theme {
    width: 80vw;
    border-radius: 20px;
    box-shadow: 0 9px 25px -5px #39134233, 0 8px 10px -6px #39134233;
    background-color: #f9f9f9;
  }
  /* Para o conteúdo dentro dos 3 componentes principais que envolvem listagem */
  .div-app-content-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: scroll;
  }
  /* Listas geradas a partir de map*/
  .div-app-content-listdisplay-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 280px;
    margin-bottom: 30px;
  }
  .div-app-content-listdisplay-theme div {
    display: flex;
  }
  .div-app-content-listdisplay-theme .lucide {
    margin-right: 8px;
  }
  .button-option-transaction-theme {
    height: 5vh;
    width: 25vw;
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
  }

  select,
  ::picker(select) {
    appearance: base-select;
    color: #323232;
  }
  ::picker(select) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 15vh;
    width: 45vw;
    border-top: 1px solid #7f2aff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    top: calc(anchor(bottom) + 1px);
    right: anchor(130%);
    scrollbar-width: none;
    background-color: #f9f9f9;
  }
  select:not(:open)::picker(select) {
    display: none;
  }
  option::checkmark {
    order: 1;
    margin-left: auto;
    content: "☑️";
  }
  .button-active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 5.2vh;
    padding-left: 5px;
    border-radius: 15px;
    color: #f9f9f9;
    background-color: #7f2aff;
    transition: width 0.1s ease-out, padding 0.1s ease-out;
  }
  .button-active button {
    color: #f9f9f9;
    margin-left: 2px;
  }
  .button-active p {
    margin-right: 5px;
    height: 48px;
    width: 72px;
    opacity: 100%;
    transition: width 0.1s, height 0.1s, opacity 0.1s;
  }
}

/* Estilo input transaction */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* Estilo para o label quando o radio button está MARCADO */
input[type="radio"]:checked + label {
  background-color: #7f2aff; /* blue-500 do Tailwind */
  color: white;
  border-color: #7f2aff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="radio"] + label:hover {
  background-color: #f8b9ca;
  border-color: #9ca3af;
}

/* Estilo para o hover em um item JÁ selecionado, para um feedback mais escuro */
input[type="radio"]:checked + label:hover {
  background-color: #7f2aff; /* blue-600 do Tailwind */
  border-color: #7f2aff;
}

input[type="checkbox"]:checked + label {
  background-color: #7f2aff; /* blue-500 do Tailwind */
  color: white;
  border-color: #7f2aff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked + label:hover {
  background-color: #7f2aff; /* blue-600 do Tailwind */
  border-color: #7f2aff;
}

.slide-to-right {
  animation: slide-to-right 0.15s ease-in-out;
}
@keyframes slide-to-right {
  from {
    transform: translatex(-100%);
  }
  to {
    transform: translate(0);
  }
}
.slide-to-left {
  animation: slide-to-left 0.15s ease-in-out;
}
@keyframes slide-to-left {
  from {
    opacity: 0;
    transform: translatex(100%);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

/* NewTransaction.jsx */
.button-new-transaction {
  height: 5vh;
  width: 30vw;
  border-radius: 20px;
  color: #f9f9f9;
  background-color: #7f2aff;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* Classe para ativar a animação */
.button-new-transaction.animating {
  animation: button-transaction-animate 0.5s ease-in-out forwards;
}

/* Keyframes da animação */
@keyframes button-transaction-animate {
  0% {
    background-color: #7f2aff;
    transform: scale(1);
  }
  50% {
    background-color: #00a171;
    transform: scale(0.9);
  }
}
